@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* html,
body, */
/* #root, */
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 50px;
  padding-top: 70px;
  width: 80%;
}

@media screen and (max-width: 1400px) {
  .movies {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

@media screen and (max-width: 800px) {
  .movies {
    width: 90%;
  }
  .movies .movie {
    width: 90%;
  }
  .movies .movie a {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
